<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.eqtech.fasstrack">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <meta-data android:name="com.here.sdk.access_key_id" android:value="UuP7QOvUq11ALnWUmGlGVg" />
        <meta-data android:name="com.here.sdk.access_key_secret" android:value="-slKC6G3IoCy8NcJOsgQqi9V4zQqI-0sx97tdBOYXJU2sAuXcpIWvf5yPOQHznzRiROqVNWDHg9mYgmUDVY_7g" />

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>